<div><br>
  <h1 class="display-4"> Eventbrite</h1>
  <h2> Project.THP by Augus & Thib <i class="fab fa-angellist"></i></h2>
  <br>
  <h4>- Ruby & Rails :</h4>
  <p>
  * Ruby version '2.5.1'<br>
  * Rails version '5.2.3'<br><br>
  <p> Codename: Llamas in Pajamas <i class="fas fa-cannabis"></i></p>
  <h3>Made in Montpellier</h3>
</div>