<% content_for :title, "New event" %>

<div class="card text-center">

  <div class="card-header">
    <h2>Créer un évenement :</h2>
  </div>
  <div class="card-body">
    <h4 class="card-title"> Tu veux créer un évenement de folie ?</strong></h4>
    <h6 class="text-muted"> Renseigne quelques informations et à toi la gloire !</h6>

    <%= render 'forms' %>
  </div>

</div><br><br>